.menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.side-bar>div{
    height: 94px;
    width: 64px;
    background-color: black;
    height: 70px;
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}
.side-bar div p{
    font-size: 15px;
    color: #f3f4f7;
}
.side-bar div i{
    color: #f3f4f7;
}
.choice-bar{
    align-items: center;
    margin: auto;
    height: 50px;
    width: 100%;
    border: 1px solid white;
}

#items{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#items button{
    cursor: pointer;
}