
.navbar{
    width: 1274px;
    height: 56px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.bars{
    color: #ffffff;
    padding: 10px 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bars>i{
    padding: 5px 5px;
    margin: 10px 10px;
    cursor: pointer;
}
.logo-site{
    height: 40px;
    width: 140px;
    margin-left: 5px;
}
.search-bar{
    border-radius: 40px;
    border: 1px solid grey;
    height: 40px;
    width: 50%;
    margin-left: 65px;
    align-self: center;
}
.search-bar>input{
    width: 530px;
    height: 24px;
    background-color: black;
    color: gray;
    border: none;
    outline: none;
    box-shadow: none;
    border-color: grey;
    font-size: 18px;
    border-radius: 40px 0 0 40px;
    margin-left: 10px;
    align-content: center;
    cursor: text;
}
.search-bar>button{
    background-color: #222222;
    border: none;
    height: 100%;
    width: 90px;   
    border-radius: 0 40px 40px 0;
    cursor: pointer;
}
#search-button{
    color: #fafafa;
}
#voice{
    background-color: #222222;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    padding-top: 11px;
    margin-top: 2.5px;
    cursor: pointer;
}
#voice>i{
    color: #f9fafa;
}
.left-side{
    display: flex;
    justify-content: space-evenly;
    width: 230px;
    align-items: center;
    padding-left: 55px;
}
#video{
    color: #f7f7f8;
    cursor: pointer;
}
#bell-icon>i{
    color: #ffffff;
}
#bell-icon{
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}
#Sign-in{
    border: none; 
    border-radius: 4px; 
    width: 67px; 
    height: 25px;
    background-color: #F84464;
    cursor: pointer;
}